appdirs==1.4.0
appnope==0.1.0
astroid==1.4.9
click==6.7
decorator==4.0.11
Flask==0.12
Flask-OAuthlib==0.9.3
Flask-SQLAlchemy==2.1
ipython==5.2.2
ipython-genutils==0.1.0
isort==4.2.5
itsdangerous==0.24
Jinja2==2.9.5
lazy-object-proxy==1.2.2
ldap3==2.2.1
MarkupSafe==0.23
mccabe==0.6.1
oauthlib==2.0.1
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
ptyprocess==0.5.1
pyasn1==0.2.2
Pygments==2.2.0
pylint==1.6.5
pyparsing==2.1.10
requests==2.13.0
requests-oauthlib==0.7.0
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.5
traitlets==4.3.1
wcwidth==0.1.7
Werkzeug==0.11.15
wrapt==1.10.8
